
main
{
    padding:35px 15%;
    background-color: #f2f2f2;
}
nav
{
    background-color:#262626;
    height: 58px;
    padding:0 15% 0 15%;
}
nav ul li a
{
    float: left;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-right: 15px;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding:20px 0 20px 0;
}
nav ul li
{
    display: inline;
}
#menu-right
{
    float: right;
}
#menu-right select
{
    margin-left: 15px;
    background-color: #262626;
    color: white;
    border: none;
}

/*section id=logo*/
#logo
{
    clear: both;
    padding:0 15% 0 15%;
    background-color: white;
}
#logo div
{
    float:left;
    width: 25%;
    padding:20px 0 20px 0;
}
#icon-right
{
    text-align: right;
    float: right;
}
#icon-right p
{
    display: inline;
    font-size: 16px;
}
#logo h1
{
    font-size: 50px;
    margin: 0;
}
#logo p
{
    font-weight:bold;
    margin: 0;
}
.icons
{
    width: 20px;
    height: 20px;
    margin: 0;
    padding-left: 3px;
}
hr
{
    clear: both;
}
/*section id=menu2*/
#menu2 
{
    display: grid;
    grid-template-columns: 70% 30%;
    padding:0 15% 0 15%;
}
#menu2 > div
{
    display: flex;
    justify-content: flex-end;
}
#categories
{
    background-color:#ff4d94;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    color: white;
    font-size: 9px;
    font-weight: bold;
}
#menu2 > section :not(#categories)
{
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 6px;
}
#menu2 > section :not(#categories):hover
{
    color: #ff4d94;
}
/*section id=first*/
#first
{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 300px 300px;
    grid-row: 2;
}
#first > div:first-child
{
    grid-column: 1;
    grid-row: 1/3;
    margin: 3px;
    display: flex;
    align-items: center;
    background-color: #b8d6e0;
    justify-content: space-around;
}
#first > div:first-child > div
{
    width: 30%;
}
#first > div > img
{
    width: 40%;
    height: 50%;
}
#first > div > div:first-child > p:first-child
{
    background-color: #f2f2f2;
    padding: 2px;
    display: inline;
}
#first > div:first-child > div:first-child > h3
{
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0;
}
#first > div > div:first-child > input
{
    padding: 10px;
    font-weight: 700;
    border-radius: 10%;
}
#first > div:nth-child(2)
{
    grid-column: 2;
    grid-row: 1;
    background-color:  #ffe6cc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}
#first > div:last-child
{
    grid-column: 2;
    grid-row: 2;
    background-color:  #e6e6ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}

/*section id=second*/
#second > div:nth-child(2)
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.card-img
{
    width: 80%;
    margin: auto;
}
.card
{
    background-color: white;
    padding:5px 15px;
    margin: 5px;
    display: grid;
    grid-template-rows: 200px 120px; 
}
.rating-img
{
    width: 100px; ;
    opacity: 40%;
}
.card p,.card h4
{
    padding: 0;
    margin: 0;
}
.card p span
{
    font-weight: bold;
}
#second > div:first-child
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

/*section id=third*/
#third > div:nth-child(2)
{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 340px;
}
#third > div:nth-child(2) > div
{
    background-color: white;
    margin: 0 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#third > div:nth-child(2) > div > div
{
    margin: auto 10px;
}
#third > div:nth-child(2) h4
{
    padding: 0;
    margin: 0;
}
#third > div:first-child
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
#third > div:first-child > div
{
    display: flex;
    align-items: center;
}
#third > div:first-child > div > p
{
    background-color: #ff4d94;
    border-radius: 2px;
    color: white;
    padding: 3px 5px;
    margin-left: 10px;
}

/*section sponsors*/
#sponsors
{
    display: flex;
    justify-content: space-between;
}
.sponsors-img
{
    width: 15%;
}
/*FOOTER*/
footer
{
    background-color: #f2f2f2;
}
/*section search*/
#search
{
    background-color: #262626;
    color: white;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 80px;
    padding:0 15% 0 15%;
}
#search > div:first-child
{
    display: flex;
    justify-content:center;
    align-items: center;
}
#search > div:first-child >div >p, #search > div:first-child >div >h4
{
    margin: 0px 8px;
}
#search > div:nth-child(2)
{
    display: flex;
    justify-content:center;
    align-items: center;
}
#search > div:nth-child(2)>input:first-child
{
    height: 26px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
#search > div:nth-child(2)>input:nth-child(2)
{
    height: 30px;
    background-color: #ff4d94;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
}
#search > div:last-child
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 10px;
    opacity: 50%;
}
/*section id=links*/
#links
{
    padding: 15px 15%;
    display: flex;
    justify-content:space-between;
}
#links > div >a
{
    text-decoration: none;
    color: #b3b3b3;
}

/*section id=last*/
#last
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
}
#last > div
{
    display: flex;
    align-items: center;
    margin: 0 5px;
}
#last > div > div > h5, #last > div > div > p 
{
    padding: 0 5px;
    margin: 0;
}
footer p
{
    color: #b3b3b3;
}
footer >p:last-of-type
{
    text-align: center;
}
footer > hr
{
    width: 70%;
}

/*CONTACT PAGE*/
/*section id=contact-container*/
#contact-container
{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 35px 0;
}
#store-information
{
    margin-right: 25px;
}
#store-information > div
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.store-information-icon
{
    width: 30px;
    height: 30px;
    padding: 5px;
}

#main-container
{
    background-color: white;
    padding: 0 25px;
}

/*section id=contact-map*/
#contact-map > iframe
{
    width: 100%;
    height: 430px;
    border: none;
}

/*section id=contact-form*/
#contact-form > form
{
    width: 100%;
}
#contact-form > form >select
{
    width: 50%;
    height: 35px;
}
#contact-form > form > input:first-of-type
{
    width: 48%;
    height: 31px;
}
#contact-form > form > div
{

    padding: 20px 0;
}
#contact-form > form > div> input
{
    width: 70%;
}
#textArea-comment
{
    width: 100%;
    height: 80px;
}
#contact-form > form > input:last-child
{
    float: right;
    background-color: #ff4d94;
    color: white;
    height: 30px;
    border-radius: 3px;
}
#error
{
    background-color: lightcoral;
    border: 1px solid coral;
    display: none;
}

/*SHOP PAGE*/
/*Section id=shop-container*/
#shop-container
{
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 20px;
}
/*section id=filter-section*/
#filter-section > div
{
    background-color: white;
    padding: 0 10px 10px 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#filter-section > div > a
{
    text-decoration: none;
    color: black;
}
#filter-section > div > a:hover
{
    color: red;
}

#price-from
{
    width: 40px;
}
#price-to
{
    width: 40px;
}

/*section id=article-groups*/
#article-groups
{
    display: flex;
    justify-content:space-between;
}
#article-groups img
{
    width: 150px;
}
#article-groups > div
{
    text-align:  center;
    padding: 5px;
    margin: 10px;
}
#article-groups > div > div
{
    width: auto;
    min-width: 170px;
    background-color: white;
    border-radius: 3px;
}
#article-groups > div > p
{
    opacity: 70%;
}

/*section id=article-cards*/
#article-cards
{
    display: flex;
    flex-wrap: wrap;
}
.shop-card
{
    height: 400px;
    background-color: white;
    padding-top: 20px;
    border-radius: 5px;
    width: 250px;
    margin: 15px auto;
}
.shop-card > img
{
    display: flex;
    justify-content: center;
    height: 180px;
}
.shop-card > div
{
    padding: 30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shop-card > div p
{
    margin: 0;
}
.shop-card > div > h4
{
    margin-top: 0;
}

/*Login page*/
#login-form
{
    color:red;
    display: flex;
    justify-content: center;
}
